a {
  color: rgba(0, 0, 0, 0.861);
}

.links_messagers {
  background-color: rgba(118, 118, 157, 0.333);
  font-size: 25px;
  height: 30px;
  text-align: center;
}

.table {
  border: solid 1px;
  max-width: 370px;
}

td,
th,
caption {
  border: solid 1px;
}

.Home-Work-3 {
  margin: 10px 0;
}

.Home-Work-3 form, .select {
  margin: 10px 0;
  text-align: center;
}

